footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natours logo')

  ul.footer__nav
    li: a(href='https://github.com/yousefshabaneg') Github
    li: a(href='https://linkedin.com/in/yousefshabaneg') Linked In
    li: a(href='https://facebook.com/yousefshabaneg') Contact
    li: a(href='#') Become a guide
    li: a(href='#') Careers
  p.footer__copyright &copy; by Yousef Shaban Mostafa. All rights reserved.
