extends base

block content
  main.main
    .error
      .error__title
        h4.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
        h4.error__emoji 😢 🤯
      .error__msg= msg
